fastapi
uvicorn
streamlit
python-multipart
pydantic
requests
google-genai
python-dotenv
langchain
langchain-community
langchain-google-vertexai
langchain-google-community[bq]
google-cloud-bigquery
pypdf
python-docx
numpy>=2.0.0
